<%- include ../partials/header.ejs %>

<!-- Content for the Add Page -->
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
        <h1><%= title %></h1>

            <form class ="form" method= "POST">
                <div class="form-group">
                    <label for="titleTextField">Title</label>
                    <input type="text" class="form-control"
                    id="titelTextField"
                    placeholder="Enter the Title"
                    name="title" required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <input type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="Enter the Description"
                    name="description" required>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter the Price"
                    name="price" required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Author</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter the Author"
                    name="author" required>
                </div>

                <div class="form-group">
                    <label for="genreTextField">Genre</label>
                    <input type="text" class="form-control"
                    id="genreTextField"
                    placeholder="Enter the Genre"
                    name="genre" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-edit"></i> Submit</button>

                    <a href="/books" class="btn btn-warning">
                    <i class="fa fa-window-close"></i> Cancel</a>

            </form>
        </div>
    </div>
</div>


<%- include ../partials/footer.ejs %> 